App_WebReferences/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Work" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWork_Update_animal_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_animal" />
  </wsdl:message>
  <wsdl:message name="IWork_Update_animal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_animalResponse" />
  </wsdl:message>
  <wsdl:message name="IWork_Remove_animal_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove_animal" />
  </wsdl:message>
  <wsdl:message name="IWork_Remove_animal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Remove_animalResponse" />
  </wsdl:message>
  <wsdl:message name="IWork_Remove_Zookeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove_Zookeeper" />
  </wsdl:message>
  <wsdl:message name="IWork_Remove_Zookeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:Remove_ZookeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IWork_ZooKeeper_List_InputMessage">
    <wsdl:part name="parameters" element="tns:ZooKeeper_List" />
  </wsdl:message>
  <wsdl:message name="IWork_ZooKeeper_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZooKeeper_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWork_ZooKeeper_individual_InputMessage">
    <wsdl:part name="parameters" element="tns:ZooKeeper_individual" />
  </wsdl:message>
  <wsdl:message name="IWork_ZooKeeper_individual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZooKeeper_individualResponse" />
  </wsdl:message>
  <wsdl:message name="IWork_Insert_animal_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_animal" />
  </wsdl:message>
  <wsdl:message name="IWork_Insert_animal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_animalResponse" />
  </wsdl:message>
  <wsdl:portType name="IWork">
    <wsdl:operation name="Update_animal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/Update_animal" message="tns:IWork_Update_animal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/Update_animalResponse" message="tns:IWork_Update_animal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove_animal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/Remove_animal" message="tns:IWork_Remove_animal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/Remove_animalResponse" message="tns:IWork_Remove_animal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove_Zookeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/Remove_Zookeeper" message="tns:IWork_Remove_Zookeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/Remove_ZookeeperResponse" message="tns:IWork_Remove_Zookeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZooKeeper_List">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/ZooKeeper_List" message="tns:IWork_ZooKeeper_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/ZooKeeper_ListResponse" message="tns:IWork_ZooKeeper_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZooKeeper_individual">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/ZooKeeper_individual" message="tns:IWork_ZooKeeper_individual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/ZooKeeper_individualResponse" message="tns:IWork_ZooKeeper_individual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_animal">
      <wsdl:input wsaw:Action="http://tempuri.org/IWork/Insert_animal" message="tns:IWork_Insert_animal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWork/Insert_animalResponse" message="tns:IWork_Insert_animal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWork" type="tns:IWork">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update_animal">
      <soap:operation soapAction="http://tempuri.org/IWork/Update_animal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove_animal">
      <soap:operation soapAction="http://tempuri.org/IWork/Remove_animal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove_Zookeeper">
      <soap:operation soapAction="http://tempuri.org/IWork/Remove_Zookeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZooKeeper_List">
      <soap:operation soapAction="http://tempuri.org/IWork/ZooKeeper_List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZooKeeper_individual">
      <soap:operation soapAction="http://tempuri.org/IWork/ZooKeeper_individual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_animal">
      <soap:operation soapAction="http://tempuri.org/IWork/Insert_animal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Work">
    <wsdl:port name="BasicHttpBinding_IWork" binding="tns:BasicHttpBinding_IWork">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>